.active{
    background-color: gold;
    color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1A2EA9;
    color: white;
    position: sticky;
    top: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    z-index: 100;
}

nav .title {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transform: translate(30%);
    background-image: linear-gradient(gold, gold);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

nav ul {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

nav ul li {
   list-style: none; 
   padding: 0%;
}

nav ul li a {
    display: block;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 12px;
}

nav ul li a:hover {
    background-color: gold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transform: 0.3s;
}

nav ul li a:not(.active):hover {
    background-color: gold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transform: 0.3s;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.3rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media screen and (max-width: 820px) and (min-width: 450px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2%;
        padding-bottom: 4%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
}


@media only screen and (max-width: 1049px) and (min-width: 870px){
    nav ul li a {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 870px) and (min-width: 820px){
    nav ul li a {
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 450px) and (min-width: 380px){
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2%;
        padding-bottom: 4%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 380px){
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2%;
        padding-bottom: 4%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2%;
        padding-bottom: 4%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    
} 